## Designado para Treinar Análise de Dados e Dashboard

#### Análises feitas com Python

In [16]:
# Importar Arquivos

import pandas as pd
import plotly.express as px
import streamlit as st

Tabela = pd.read_csv('assets/company_transactions.csv')

Tabela

,Transaction_ID,Store_ID,Category,Transaction_Amount,Quantity,Date,Customer_Age,Payment_Method
0,1,52,Electronics,482.70,3,2023-11-27,55,Debit Card
1,2,93,Books,221.98,6,2023-03-18,47,Credit Card
2,3,15,Groceries,10.78,5,2023-06-15,50,Online Payment
3,4,72,Clothing,420.48,3,2023-06-25,63,Online Payment
4,5,61,Electronics,303.84,2,2023-10-02,59,Cash
...,...,...,...,...,...,...,...,...
29995,29996,48,Books,497.62,3,2023-02-10,33,Debit Card
29996,29997,50,Books,25.86,7,2023-01-13,38,Online Payment
29997,29998,81,Sports,275.26,6,2023-05-05,34,Debit Card
29998,29999,44,Clothing,307.94,1,2023-01-27,49,Debit Card
29999,30000,59,Home Goods,388.36,2,2023-06-06,31,Debit Card

In [17]:
# Limpeza #

# Excluir Tabelas Inúteis para análise #

Tabela = Tabela.drop(columns='Transaction_ID')

# Excluir linhas vazias #

Tabela = Tabela.dropna(how='all')

print(Tabela.info())

# Não há linhas completamente vazias

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Store_ID            30000 non-null  int64
 1   Category            30000 non-null  object
 2   Transaction_Amount  30000 non-null  float64
 3   Quantity            30000 non-null  int64
 4   Date                30000 non-null  object
 5   Customer_Age        30000 non-null  int64
 6   Payment_Method      30000 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 1.6+ MB
None

In [18]:
# Pegar o valor total de faturamento # 

Tabela['Total'] = Tabela['Transaction_Amount'] * Tabela['Quantity']

Tabela_Total = Tabela['Total'].sum()

Tabela_Total = f"R$ {Tabela_Total:,.2f}".replace(",", "v").replace(".", ",").replace("v", ".")

Tabela_Total

'R$ 38.202.412,82'

In [19]:
# Faturamento por categoria de produtos #

Lucro_Categorias = Tabela.groupby('Category')['Total'].sum().sort_values(ascending=False)

Lucro_Categorias = Lucro_Categorias.apply(lambda x: f"R$ {x:,.2f}".replace(",", "v").replace(".", ",").replace("v", "."))

Lucro_Categorias

Category
Books          R$ 6.438.366,81
Groceries      R$ 6.412.738,27
Sports         R$ 6.363.542,17
Electronics    R$ 6.336.986,57
Home Goods     R$ 6.333.314,66
Clothing       R$ 6.317.464,34
Name: Total, dtype: object

In [20]:
# Meses com mais vendas # 

# 1. Converter a coluna de datas para o tipo datetime
Tabela['Date'] = pd.to_datetime(Tabela['Date'])

# 2. Criar uma nova coluna só com o mês
Tabela['AnoMes'] = Tabela['Date'].dt.to_period('M') 

# 3. Agrupar coluna e somar os totais
Vendas_Mensais = Tabela.groupby('AnoMes')['Total'].sum().sort_values(ascending=False)

# 4. Formatar p/ brl
Vendas_Mensais = Vendas_Mensais.apply(lambda x: f"R$ {x:,.2f}".replace(",", "v").replace(".", ",").replace("v", "."))

Vendas_Mensais

AnoMes
2023-03    R$ 3.330.903,57
2023-10    R$ 3.310.613,48
2023-08    R$ 3.277.691,56
2023-12    R$ 3.262.059,99
2023-11    R$ 3.236.832,26
2023-01    R$ 3.226.633,78
2023-04    R$ 3.199.094,90
2023-05    R$ 3.123.702,91
2023-06    R$ 3.104.892,78
2023-02    R$ 3.048.512,41
2023-07    R$ 3.042.273,90
2023-09    R$ 3.039.201,28
Freq: M, Name: Total, dtype: object

In [21]:
# Formas de pagamentos mais comuns #

# 1. Agrupar coluna e somar os totais
Forma_Pagamentos = Tabela.groupby('Payment_Method')['Total'].sum().sort_values(ascending=False)

Forma_Pagamentos = Forma_Pagamentos.apply(lambda x: f"R$ {x:,.2f}".replace(",", "v").replace(".", ",").replace("v", "."))

Forma_Pagamentos

Payment_Method
Cash              R$ 9.692.350,64
Credit Card       R$ 9.554.235,27
Online Payment    R$ 9.488.831,11
Debit Card        R$ 9.466.995,80
Name: Total, dtype: object